{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "react/prop-types": [0, { "ignore": [] }],
    "react/display-name": 0,
    "no-debugger":0,
    "no-console":0
  },
  "settings": {
    "react": {
      "version": "16.4.0"
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node":true
  },
  "globals": {
    "APPLICATION_VERSION": true,
    "INFINIT_LIMIT": true
  }
}